

.quiz-box {
    display: none;
}

.quiz-box button{
    margin-top: 20px;

}

li {
    list-style-type: none;
}

#result-text{
    margin-top: 20px;
}

.container-q {
    margin-top: 20px;
    background-color: lightblue;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;

    padding: 20px;
}